@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('CormorantGaramond-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('GreatVibes-Regular.woff2') format('woff2'),
        url('GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Italic.woff2') format('woff2'),
        url('PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

